<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lastname</th>
    <th>Maidenname</th>
    <th>Sexo</th>
    <th>Pruebain</th>
    <th>Documentnumber</th>
    <th>Email</th>
	<th>confirmarmail</th>
    <th>Password</th>
	<th>Confirmar Password</th>
	<th>fecha</th>
 	<th>Cellnumber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.lastname %></td>
    <td><%= user.maidenname %></td>
    <td><%= user.sexo %></td>
    <td><%= user.pruebain %></td>
    <td><%= user.documentnumber %></td>
    <td><%= user.email %></td>
	<td><%= user.confirmarmail %></td>
    <td><%= user.password %></td>
	<td><%= user.cpassword %></td> 
    <td><%= user.fecha %></td>
	<td><%= user.cellnumber %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
