<h1>Listing documenttypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Shortname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documenttypes.each do |documenttype| %>
  <tr>
    <td><%= documenttype.name %></td>
    <td><%= documenttype.shortname %></td>
    <td><%= link_to 'Show', documenttype %></td>
    <td><%= link_to 'Edit', edit_documenttype_path(documenttype) %></td>
    <td><%= link_to 'Destroy', documenttype, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Documenttype', new_documenttype_path %>
