<h1>Listing canchas</h1>

<table>
  <tr>
	<th>Namecancha</th>
    <th>Pruebaselst</th>
    <th>Description</th>
	<th>Fecha</th>
	
	
    <th>Fecpro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @canchas.each do |cancha| %>
  <tr>
	<td><%= cancha.namecancha %></td>
    <td><%= cancha.pruebaselst %></td>
    <td><%= cancha.description %></td>
	<td><%= cancha.fecha %></td>
	
	
    <td><%= cancha.fecpro %></td>
    <td><%= link_to 'Show', cancha %></td>
    <td><%= link_to 'Edit', edit_cancha_path(cancha) %></td>
    <td><%= link_to 'Destroy', cancha, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cancha', new_cancha_path %>
