<p id="notice"><%= notice %></p>

<p>
  <b>Namecancha:</b>
  <%= @cancha.namecancha %>
</p>

<p>
  <b>Pruebaselst:</b>
  <%= @cancha.pruebaselst %>
</p>

<p>
  <b>Description:</b>
  <%= @cancha.description %>
</p>

<p>
  <b>Fecha:</b>
  <%= @cancha.fecha %>
</p>

<p>
  <b>Fecpro:</b>
  <%= @cancha.fecpro %>
</p>


<%= link_to 'Edit', edit_cancha_path(@cancha) %> |
<%= link_to 'Back', canchas_path %>
